.user-pic {
  width: 32px;
  height: 32px;
}

.users-list {
  position: relative;
  min-height: 4.438rem;

  &.loading .item {
    opacity: .4;
  }

  .spinner-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

@media (min-width: 992px) {
  .item:not(:hover) .action {
    display: none;
  }
}
